{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.match {:mvn/version "1.1.0"}
        org.clojure/core.async {:mvn/version "1.7.701"}

        ;; http
        hato/hato {:mvn/version "1.0.0"}

        ;; tmd + arrow
        techascent/tech.ml.dataset {:mvn/version "7.037"}
        org.apache.arrow/arrow-vector {:mvn/version "18.1.0"}
        org.apache.arrow/arrow-memory-netty {:mvn/version "18.1.0"}
        com.cnuernber/jarrow {:mvn/version "1.000"}
        org.apache.commons/commons-compress {:mvn/version "1.21"}
        org.lz4/lz4-java {:mvn/version "1.8.0"}
        net.java.dev.jna/jna {:mvn/version "5.10.0"}
        com.github.luben/zstd-jni {:mvn/version "1.5.4-1"}

        ;; logging
        com.brunobonacci/mulog {:mvn/version "0.9.0"}

        ;; utils
        tick/tick {:mvn/version "1.0"}
        org.clj-commons/byte-streams {:mvn/version "0.3.4"}
        dev.weavejester/medley {:mvn/version "1.8.1"}

        ;; testing
        eftest/eftest {:mvn/version "0.6.0"}
        }}
